/* Dashboard */
.small-box {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.small-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}