/* Responsive alignment for mobile only */
@media (max-width: 767.98px) {

	/* Top navbar */
    .contact-mobile .fa-phone-alt,
    .contact-mobile .fa-envelope,
    .contact-mobile .d-md-inline 
	{
        display: none !important;
    }

	.office_time, .auth_section {
       display: none !important;
    }

    .contact-left,
    .contact-right {
		font-size: 15px !important;
		display: contents !important;
    }

	
}